body::-webkit-scrollbar {
    width: 0;
}
body{
    background-color: #565656;
}
#toolbar{
    background-color: #565656;
}
.left-content{
    background-color: #565656;
}
.card-title{
    background-color: #323232;
}
.md-display-1{
    color: rgba(139, 195, 74, 0.75);
}
.md-subhead{
    color: rgba(139, 195, 74, 0.75);
}
.contacts{
    background-color: #323232;
}
.h-contacts{
    color: orange;
}
.sm-item-contacts{
    background-color: #323232;
    color: rgba(139, 195, 74, 0.75);
}
.card-content{
    background-color: transparent;
}
.link{
    background-color: #323232;
    border-radius: 5px;
}
.link-button{
    color: rgba(139, 195, 74, 0.75);
}
.skills{
    background-color: #565656;
}
.skills-card{
    background-color: #323232;
}
.sm-item-skill{
    background-color: rgba(139, 195, 74, 0.65);
}
.sm-item-about{
    background-color: #565656;
}
.about{
    background-color: #323232;
}
.about-p{
    color: rgb(222, 185, 73);
}
.wring{
    background-color: rgba(244, 67, 54, 0.42);
    color: white;
}
.experience{
    background-color: #565656;
}
.education{
    background-color: #323232;
}
.h-contatent{
    color: orange;
}
.copy{
    text-decoration: none;
}
.expButtom{
    background-color: rgba(139, 195, 74, 0.75);
}
.expButtom:hover{
    color: rgba(139, 195, 74, 0.75);
}
.content-fotos{
    background-color: #565656;
}
.about-fotos{
    background-color: #565656;
}
.experience .education{
    max-height: 743px;
    overflow: auto;
}
.skills .about{
    max-height: 739px;
    overflow: auto;
}
.style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #323232;
}
.style-1::-webkit-scrollbar {
    width: 12px;
    background-color: #323232;
}
.style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #984e48;
}